.button {
  padding-inline: 2rem;
  padding-block: 0.75rem;
  background: var(--primaryColor);
  color: var(--tertiaryColor);
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  font: var(--button);
  align-self: center;
}

.button:hover {
  box-shadow: var(--boxshadow);
}

@media screen and (min-width: 550px) {
  .button.u-hero {
    align-self: flex-start;
  }
}

@media screen and (min-width: 700px) {
  .button.u-section {
    align-self: flex-start;
  }
}
