.nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    gap: 1rem;
  }

  .nav__link {
    text-transform: uppercase;
    font-family: var(--secondaryFont);
    font-weight: 600;
    color: var(--secondaryColor);
    font-size: 1rem;
    transition: color 0.2s, box-shadow 0.2s;
  }

  .nav__link--white {
    color: var(--white);
    padding: 0.5rem;
  }

  .nav__link:not(.nav__link--white):first-of-type {
    color: var(--primaryColor);
  }

  .nav__link--white:first-of-type {
    box-shadow: 0 3px 0 0 var(--primaryColor);
  }

  .nav__link:not(.nav__link--white):hover {
    color: var(--primaryColor);
  }

  .nav__link--white:hover {
    box-shadow: 0 3px 0 0 var(--primaryColor);
  }
}

@media screen and (min-width: 1025px) {
  .nav {
    gap: 2rem;
  }
}
