.sectionSimply {
  padding-block: 2rem;
  background: url(../imagenes/ellipse-1.png) no-repeat top left;
}

.sectionSimply__wrapper {
  max-inline-size: 75rem;
  padding-inline: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.sectionSimply__wrapper--small {
  max-inline-size: 52.5rem;
}

.sectionSimply__content {
  text-align: center;
}

.sectionSimply__text {
  font-size: 0.875rem;
  max-inline-size: 41.9375rem;
  margin: 0 auto;
  margin-block: 2rem;
}

.sectionSimply__logos {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .sectionSimply__logos {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}

@media screen and (min-width: 900px) {
  .sectionSimply__logos {
    justify-content: space-around;
  }

  .sectionSimply__text {
    font-size: 1rem;
    font-size: 1.5;
  }
}

@media screen and (min-width: 1024px) {
  .sectionSimply {
    padding-block: 6.25rem;
  }

  .sectionSimply__text {
    line-height: 2;
  }

  .sectionSimply__logos {
    justify-content: space-between;
  }

  .sectionSimply__logo {
    inline-size: 200px;
  }
}
