.sectionImage {
  padding-block: 3rem;
  position: relative;
}

.sectionImage__details {
  text-align: center;
  max-inline-size: 25rem;
  margin: 0 auto;
  margin-block-end: 1.5rem;
}

.sectionImage__text {
  font-size: 0.875rem;
}

.sectionImage__figure {
  margin: 0;
  max-inline-size: 37.5rem;
  margin: 0 auto;
  border-radius: 1rem;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .sectionImage {
    padding-block: 5rem;
  }

  .sectionImage__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .sectionImage__figure {
    grid-column: 1/2;
    grid-row: 1;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    position: relative;
    position: absolute;
    inline-size: 50%;
    inset-inline-start: 0;
  }

  .sectionImage__details {
    grid-column: 2/-1;
    text-align: start;
    padding: 1.5rem;
    padding-inline-start: 2rem;
    margin: 0;
  }

  @media screen and (min-width: 900px) {
    .sectionImage {
      padding-block: 8rem;
    }

    .sectionImage__figure {
      block-size: 400px;
      inline-size: 50%;
      max-inline-size: none;
    }

    .sectionImage__img {
      object-fit: cover;
      block-size: 100%;
      inline-size: 100%;
    }

    @media screen and (min-width: 1024px) {
      .sectionImage__details {
        justify-self: flex-end;
        max-inline-size: 30.375rem;
        margin: 0 auto;
      }

      .sectionImage__text {
        font-size: 1rem;
      }
    }

    @media screen and (min-width: 1300px) {
      .sectionImage__text {
        line-height: 2;
      }

      .sectionImage__details {
        margin: 0;
        justify-self: flex-end;
        padding: 0;
      }
    }
  }
}
