@import "./servicio.css";

.servicios__wrapper {
  max-inline-size: 75rem;
  padding-inline: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

.servicios {
  max-inline-size: 62.25rem;
  margin-block-start: 1rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
  }
}
