@import "./nav.css";
@import "./button.css";
@import "./header.css";
@import "./hero.css";
@import "./section-image.css";
@import "./section-simply.css";
@import "./section-background.css";
@import "./clientes.css";
@import "./servicios.css";
@import "./indicadores.css";
@import "./team.css";
@import "./feed-back.css";
@import "./redes.css";
@import "./lideres.css";
@import "./areas.css";
@import "./contacto.css";
@import "./footer.css";

:root {
  font-size: 16px;
  user-select: none;
  scroll-behavior: smooth;
  --mainFont: "Roboto", sans-serif;
  --secondaryFont: "Poppins", sans-serif;
  --titleOne: 900 1.25rem/1.5 var(--mainFont);
  --titleTwo: 900 1.25rem/1.5 var(--mainFont);
  --titleThree: 900 1rem/1.5 var(--mainFont);
  --button: 700 0.875rem/1.2 var(--secondaryFont);
  --titleColor: #1c9aa1;
  --primaryColor: #1db5be;
  --secondaryColor: #81818e;
  --tertiaryColor: #fafafa;
  --backgroundColor: #ededed;
  --gray: #e2e2e2;
  --white: #ffffff;
  --blue: #4e9efb;
  --boxshadow: 0px 25px 25px 0 rgb(25, 131, 137, 0.3);
}

/* -----GLOBALES----- */

body {
  margin: 0;
  font-family: var(--secondaryFont);
  font-size: 0.875rem;
  background: var(--backgroundColor);
  color: var(--secondaryColor);
}

[class$="__wrapper"] {
  max-inline-size: 75rem;
  padding-inline: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: var(--titleColor);
  margin: 0;
  margin-block-end: 0.5rem;
}

/* CLASES GLOBALES */

.titleOne {
  font: var(--titleOne);
}

@media screen and (min-width: 500px) {
  .titleOne {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 550px) {
  .titleOne {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) {
  .titleOne {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 700px) {
  .titleOne {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 750px) {
  .titleOne {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .titleOne {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 1024px) {
  .titleOne {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  .titleOne {
    font-size: 2.125rem;
  }
}

.titleTwo {
  font: var(--titleTwo);
}

@media screen and (min-width: 400px) {
  .titleTwo {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .titleTwo {
    font-size: 1.875rem;
  }
}

@media screen and (min-width: 1300px) {
  .titleTwo {
    font-size: 2.375rem;
  }
}

.titleThree {
  font: var(--titleThree);
}

@media screen and (min-width: 400px) {
  .titleThree {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 500px) {
  .titleThree {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 900px) {
  .titleThree {
    font-size: 1.5rem;
  }
}

/* ANIMACIONES */

@keyframes right {
  to {
    transform: translateX(0%);
  }
}

@keyframes left {
  to {
    transform: translateX(0%);
  }
}
