@import "./nav.css";
@import "./button.css";
@import "./header.css";
@import "./hero.css";
@import "./technology.css";

:root {
  font-size: 16px;
  user-select: none;
  scroll-behavior: smooth;
  --mainFont: "Roboto", sans-serif;
  --secondaryFont: "Poppins", sans-serif;
  --titleOne: 900 1.25rem/1.5 var(--mainFont);
  --titleTwo: 900 1.125rem/1.5 var(--mainFont);
  --button: 700 0.875rem/1.2 var(--secondaryFont);
  --primaryColor: #1db5be;
  --secondaryColor: #81818e;
  --tertiaryColor: #fafafa;
  --backgroundColor: #ededed;
  --titleColor: #1c9aa1;
}

body {
  margin: 0;
  font-family: var(--secondaryFont);
  font-size: 1rem;
  background: var(--backgroundColor);
  color: var(--secondaryColor);
}

[class$="__wrapper"] {
  max-inline-size: 75rem;
  padding-inline: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  vertical-align: middle;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font: var(--titleOne);
}

h2 {
  font: var(--titleTwo);
}

h1,
h2,
h3 {
  color: var(--titleColor);
  margin: 0;
}
